generated-by = makedeb
pkgname = xivlauncher-cn
pkgbase = xivlauncher-cn
pkgdesc = Custom Launcher for Final Fantasy XIV Online CN for Ubuntu (Debian please install dotnet-sdk-6.0 by yourself )
pkgrel = 2
pkgver = 1.0.3.1
url = https://github.com/ottercorp/XIVLauncher.Core
arch = amd64
conflicts = xivlauncher-git
depends = build-essential
depends = aria2
depends = libsdl2-2.0-0
depends = libsecret-1-0
depends = attr
depends = fontconfig
depends = liblcms2-2
depends = libxml2
depends = libxcursor1
depends = libxrandr2
depends = libxdamage1
depends = libxio0
depends = gettext
depends = libfreetype6
depends = libglu1-mesa
depends = libsm6
depends = libpcap0.8
depends = libfaudio0
depends = desktop-file-utils
depends = libjxr0
depends = xdg-utils
license = GPL
options = !strip
provides = xivlauncher=1.0.3.0
source = XIVLauncher.Core::git+https://github.com/ottercorp/XIVLauncher.Core.git
source = XIVLauncher.desktop
sha512sums = SKIP
sha512sums = 637150af398fce40905c301f2c5953897769043cc1e5a52e7af8c6c83e13f50e48e707dd3b8b8dc554154fc825f3d0985716289c0a974059adaa3cabe7fe46a2
makedepends_x86_64 = dotnet-sdk-6.0
makedepends_x86_64 = dotnet-sdk-6.0
